.pageTitle{
  width: 900px;
  max-width: 100%;
  padding: 8px 4px;
  margin: 0 auto;
  border: 0;
}
.pageTitle h1,
.pageTitle h2,
.pageTitle h3,
.pageTitle h4{
  margin: 0 auto;
  display: block;
  max-width: 100%;
}

.pageTitle h1,
.pageTitle h2{
  font-size: 20px;
}

.pageTitle h3,
.pageTitle h4{
  font-size: 18px;
}
